{
  "semi": true,
  "useTabs": false,
  "tabWidth": 2,
  "printWidth": 100,
  "singleQuote": true,
  "trailingComma": "all",
  "bracketSameLine": false,
  "plugins": ["prettier-plugin-svelte", "prettier-plugin-tailwindcss"],
  "overrides": [
    { "files": "*.svelte", "options": { "parser": "svelte" } },
    {
      "files": "apps/admin-panel/**/*",
      "options": {
        "singleQuote": false
      }
    }
  ]
}
